@font-face {
  font-family: Mono;
  src: url('../fonts/RedHatMono-Regular.ttf');
}

html,
body {
  color: rgb(150, 0, 0);
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  font-family: Mono, serif;
  font-size: 1rem;
}

body {
  background-color: rgb(15, 15, 15);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.25rem;
  margin-bottom: 0;
}

a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: rgb(150, 0, 0);
  text-decoration: underline;
  text-decoration-color: rgb(150, 0, 0);
}

a:hover {
  color: rgb(205, 205, 205);
}

h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
  text-wrap: balance;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
}

main .column.left {
  align-items: end;
  font-size: 10rem;
}

.hero {
  background: url(../images/scorpion.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
}

main .column.right h1 {
  margin-bottom: 0.4em;
}

main .column.right h2 {
  margin-top: 0;
}

main .column.right .links {
  margin-top: 1.5rem;
  font-size: 1.75rem;
}

main .column.right .links a {
  margin-right: 0.5rem;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: .75rem;
  text-wrap: nowrap;
}


@media screen and (max-width: 992px) {
  body {
    margin: 0rem 1rem;
    text-align: center;
  }

  main {
    flex-direction: column;
    margin-top: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  .column {
    justify-content: flex-start;
    margin-right: 0;
  }

  main .column.left {
    justify-content: center;
    flex: .7;
  }

  main .column.right h1 {
    margin-top: 5%;
  }

}